{% load personal_view %}

<div class={{cv_entry.get_class_name}}>
  <h3> {{cv_entry.get_class_name}} - {{cv_entry.name}} </h3>
      {% return_template cv_entry enable_modification%}
</div>

{% if enable_modification %}
<form action="{% url 'resumebuilder:modify_entry' cv_entry.id %}" method="post">
{% csrf_token %}
 <label>Name of Entry</label>
<input type="text" name="entry_name" value="{{ cv_entry.name }}" /> </br>
<input type="submit" value="Modify" />
</form>

<form action="{% url 'resumebuilder:all_entrys' %}" method="">
{% csrf_token %}
<input type="submit" value="Go back to entry list" />
</form>
{% endif %}
