{% load personal_view %}

{% if cv_general %}
<h1> {{cv_general.name}} </h1> by {{cv_general.user}} </br>


<form action="{% url 'resumebuilder:modify_cv' cv_general.id %}" method="post">
{% csrf_token %}
 <label>Name of CV</label>
<input type="text" name="cv_name" value="{{ cv_general.name }}" /> </br>
<label>Number of columns</label>
{% if cv_general.nb_columns == 1 %}
<input type="radio" name="nb_cols" value="1" checked> 1
<input type="radio" name="nb_cols" value="2"> 2<br>
{% else %}
<input type="radio" name="nb_cols" value="1"> 1
<input type="radio" name="nb_cols" value="2" checked> 2<br>
{% endif %}

<input type="submit" value="Modify" />
</form>

<form action="{% url 'resumebuilder:delete_cv' cv_general.id %}" method="post">
{% csrf_token %}
  <input type = "submit" value="Delete" />
</form>
{% endif %}

{% for cvgrouppairing in cv_group_pairings %}
      {% return_group_template cvgrouppairing.group_entry False %}
      <form action="{% url 'resumebuilder:delete_group_from_cv' cvgrouppairing.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete this Group" />
      </form>
{% endfor %}

{% if cv_general.get_possible_groups %}
<form action="{% url 'resumebuilder:add_group_to_cv' cv_general.id %}" method="post">
  {% csrf_token %}
   <label>Group to add</label>
   <select name="group_id">
     {% for group_entry in cv_general.get_possible_groups %}
     <option value="{{group_entry.id}}">{{group_entry.name}}</option>
     {% endfor %}
   </select>
   <br><br>
  <input type="submit" value="Add group to CV" />
  </form>
{% endif %}
