{% load personal_view %}

{% if cv_general %}
<h1> {{cv_general.name}} </h1> by {{cv_general.user}} </br>


<form action="{% url 'resumebuilder:modify_cv' cv_general.id %}" method="post">
{% csrf_token %}
 <label>Name of CV</label>
<input type="text" name="cv_name" value="{{ cv_general.name }}" /> </br>
<label>Number of columns</label>
{% if cv_general.nb_columns == 1 %}
<input type="radio" name="nb_cols" value="1" checked> 1
<input type="radio" name="nb_cols" value="2"> 2<br>
{% else %}
<input type="radio" name="nb_cols" value="1"> 1
<input type="radio" name="nb_cols" value="2" checked> 2<br>
{% endif %}

<input type="submit" value="Modify" />
</form>

<form action="{% url 'resumebuilder:delete_cv' cv_general.id %}" method="post">
{% csrf_token %}
  <input type = "submit" value="Delete" />
</form>
{% endif %}

{% for key, list in entrygroupdict.items %}
      <h2> Group : {{ key.name }} </h2>
      {% for entry in list %}
        <div class={{entry.get_class_name}}>
          <h3> {{entry.get_class_name}} </h3>
              {{ entry|return_template }}
        </div>
      {% endfor %}
      <form action="{% url 'resumebuilder:delete_group' cv_general.id key.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete this Group" />
      </form>
{% endfor %}
<form action="{% url 'resumebuilder:add_new_group' cv_general.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Add Group" />
</form>
