{% load personal_view %}
<h2> {{ group_entry.name }} </h2>

{% if enable_modification %}
<form action="{% url 'resumebuilder:modify_group' group_entry.id %}" method="post">
{% csrf_token %}
 <label>Name of Group</label>
<input type="text" name="group_name" value="{{ group_entry.name }}" /> </br>
<input type="submit" value="Modify" />
</form>
{% endif %}

{% for entry in cv_entries %}
        <div class={{entry.get_class_name}}>
          <h3> {{entry.get_class_name}} </h3>
              {% return_template entry %}
        </div>
{% endfor %}

{% if enable_modification %}
<form action="{% url 'resumebuilder:all_groups' %}" method="">
{% csrf_token %}
<input type="submit" value="Go back to group list" />
</form>
{% endif %}
